# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [3]:
import numpy as np
from datascience import *

# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

# Importing our data

In [ ]:
math211_survey = Table.read_table('MATH_211_Survey_Cleaned_GPA.csv')
drinks = Table.read_table('drinks.csv')
discounts = Table.read_table('discounts.csv')
countries = Table.read_table('countries.csv').select('country', 'name', 'world_6region')

# Let's look at a [Demo Request](https://forms.gle/rtF16ch5ABCzM8qn7)

For [Project01](https://skyline.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fb00chan%2Ffall_24_math_211_skyline&urlpath=tree%2Ffall_24_math_211_skyline%2FProjects%2Fproject1%2Fproject1.ipynb&branch=main): Question 7 from 'Global Poverty' Section:

**Question 7.** Now, we'll actually write the function called `poverty_timeline`. Recall that `poverty_timeline` takes **the name of a country** as its argument (not the Alpha-3 country code). It should draw a line plot of the number of people living in poverty in that country with time on the horizontal axis. The line plot should have a point for each row in the `poverty` table for that country. To compute the population living in poverty from a poverty percentage, multiply by the population of the country **in that year**.

*Hint:* This question is long. Feel free to create cells and experiment. You can create cells by going to the toolbar and hitting the `+` button, or by going to the `Insert` tab.

In [ ]:
def poverty_timeline(country):
    '''Draw a timeline of people living in extreme poverty in a country.'''
    geo = ...
    # This solution will take multiple lines of code. Use as many as you need
    ...
    # Don't change anything below this line. 
    plots.title(country)
    plots.ylim(bottom=0)
    plots.show() # This should be the last line of your function.

## The Strategy: Overall

(1)The input is the name of a country, and it's corresponding output is a line plot of the number of people living in poverty within that country. We can use both the `poverty` and `population` tables, however they identify their countries through `geo` codes so we will need to find a way to convert the country name into it's corresponding `geo` code using the `countries` table. 

(2)While the `poverty` and `population` tables contain our information of interest, the population is given as a frequency/count, while the poverty table gives us a percentages. We will use both of these facts to help us calculate the number of people living in poverty (by multiplication). Therefore, we want to join these two tables to combine the information into a single table. 

To set up the join, we will need to filter the two tables to make sure that we have the `poverty` and `population` table contains the rows of only the country of interest (i.e. the input). Once we perform the appropriate filter, we will can then join by the `time` variable, since both tables contain years under the `time` column. This also makes sure that we match up the poverty percentage to their appropriate population count of that year (i.e. we want to match the 25% poverty of **1956** to the population size of India in **1956**). We will already know that the join will be mergining tables of the same country since we filtered it already as so. 

(4)Once we successfully join the table, then, we caluclate the number of people in poverty in a given country/year by multiplying the columns containing population and poverty and then appending that column to the table. 

(5) We will use the `.plot()` method to plot the corresponding poverty counts for an input country (will not be covered in demo request)

#### (1) Input Conversion
The input is the name of a country, and it's corresponding output is a line plot of the number of people living in poverty within that country. We can use both the `poverty` and `population` tables, however they identify their countries through `geo` codes so we will need to find a way to convert the country name into it's corresponding `geo` code using the `countries` table. 

Let's practice with the the data from the project below:

In [ ]:
countries

#### (2) Filter and Join setup
While the `poverty` and `population` tables contain our information of interest, the population is given as a frequency/count, while the poverty table gives us a percentages. We will use both of these facts to help us calculate the number of people living in poverty (by multiplication). Therefore, we want to join these two tables to combine the information into a single table.

To set up the join, we will need to filter the two tables to make sure that we have the `poverty` and `population` table contains the rows of only the country of interest (i.e. the input). Once we perform the appropriate filter, we will can then join by the `time` variable, since both tables contain years under the `time` column. This also makes sure that we match up the poverty percentage to their appropriate population count of that year (i.e. we want to match the 25% poverty of **1956** to the population size of India in **1956**). We will already know that the join will be mergining tables of the same country since we filtered it already as so. 

**For this step (and beyond), we will practice a parallel process with `drinks` and `discounts` to match the drink prices with their discounts, and calculate their corresponding discounted price.**

#### (3) Join
To set up the join, we will need to filter the two tables to make sure that we have the `poverty` and `population` table contains the rows of only the country of interest (i.e. the input). Once we perform the appropriate filter, we will can then join by the `time` variable, since both tables contain years under the `time` column. This also makes sure that we match up the poverty percentage to their appropriate population count of that year (i.e. we want to match the 25% poverty of **1956** to the population size of India in **1956**). We will already know that the join will be mergining tables of the same country since we filtered it already as so.

#### (4) Calculate and append
Once we successfully join the table, then, we caluclate the number of people in poverty in a given country/year by multiplying the columns containing population and poverty and then appending that column to the table.

# Accessing Rows of our data

# Applying a function across the entire row

# Comparison Statements

### Assignments vs. Comparisons

In [4]:
this_variable = 7
this_variable

7

In [ ]:
this_variable == 7

In [ ]:
this_variable == 6

In [ ]:
this_variable = 6 
this_variable

In [ ]:
this_variable == 6, this_variable == 7

In [ ]:
this_variable >1

In [ ]:
this_variable != 5

In [ ]:
2 < this_variable <50

In [ ]:
is_this_variable_between = 2 < this_variable <50
is_this_variable_between

### Aggregating Comparisons

In [5]:
this_array = make_array(1, 2, 4, 8, 16, 32, 64, 67)

In [6]:
this_array > 20

array([False, False, False, False, False,  True,  True,  True], dtype=bool)

In [7]:
this_array % 2 # this is a way we can check if a number is divisible by 2

array([1, 0, 0, 0, 0, 0, 0, 1])

In [ ]:
sum()

# Control Statements

In [ ]:
x = 20
s = 'You are 20'

In [ ]:
if x >= 21:
    s = 'You may enter this bar/nightclub'
s

In [ ]:
if x >= 18:
    s = 'You can legally vote'
s

### Combining Control Statements