# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [1]:
import numpy as np
from datascience import *

# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

# Importing our data

In [2]:
math211_survey = Table.read_table('MATH_211_Survey_Cleaned_GPA.csv')
math211_survey

Surveyor        | GPA  | Introversion/Extraversion | Pets              | Campus_Commute | Handed       | Sleep                     | Num_Units | Favorite_Show                             | Time_Off                                                    | pastime/hobby                                      | Motivation                            | Num_Siblings | Wish_Siblings
Samantha        | 3.77 | 6                         | Reptiles, Rodents | Car, Walk      | Left-handed  | On my side                | 13        | HunterxHunter                             | Travel                                                      | Bowling                                            | God â˜ðŸ½                           | 3            | 0
Samantha        | 3    | 5                         | nan               | Car            | Right-handed | On my side                | 12        | One Piece                                 | Travel all around Asia                                      | Driving                                            |  Family                               | 3            | 3
Samantha        | 3.4  | 4                         | Dogs              | Bus            | Right-handed | On my side                | 12        | My Wife and Kids                          | Rest                                                        | Watching TV                                        | Money                                 | 2            | 1
Samantha        | 3.5  | 3                         | nan               | Car            | Right-handed | Mountain climber position | 4         | Spy x Family                              | Go to Japan                                                 | I like making tech projects using microcontrollers | My dreams in life keeps me motivated. | 2            | 0
Samantha        | 3    | 7                         | Dogs              | Car            | Right-handed | On my stomach             | 12        | My Hero Academia                          | Travel to other countries.                                  | Reading                                            | My dreams and ambitions               | 2            | 3
Samantha        | 3    | 5                         | nan               | Car            | Left-handed  | On my stomach             | 6         | Full Metal Alchemist The Dark Brotherhood | Regain sleep, hiking/trail walking/exercise, maybe a trip.  | Video games                                        | Helping those I care for.             | 2            | 2
my best friend  | 2.9  | 6                         | Dogs              | Car, Bus, Walk | Right-handed | On my back                | 15        | Maury                                     | go to mexico                                                | working out                                        | becoming a better version of myself   | 6            | 8
Samantha        | 4    | 5                         | Dogs              | Car            | Right-handed | On my side                | 13        | Friends                                   | I would go to mexico                                        | Doing arts and crafts                              | Working hard and being with friends   | 8            | 8
Samantha        | 3.72 | 8                         | Dogs              | Car            | Left-handed  | On my side                | 16        | Baddies West                              | Travel                                                      | Sitting at the beach                               | Money                                 | 2            | 5
Samantha        | 3.5  | 5                         | nan               | Car            | Right-handed | On my side                | 4         | Your Name                                 | Travel, relax and have fun.                                 | Hiking                                             | Family                                | 2            | 2
... (147 rows omitted)

# Control Statements

## `if` statements

In [3]:
x = 20
s = 'You are 20'

In [4]:
if x >= 21:
    s = 'You may enter this bar/nightclub'
s

'You are 20'

In [5]:
if x >= 18:
    s = 'You can legally vote'
s

'You can legally vote'

### Let's classify our survey responses to the introversion/extroversion question:
We will consider respondents extroverted if they self-report a number above: **7** <br>
We will consider respondents ambiverted if they self-report a number between: **3** and **8**<br>
We will consider respondents introverted if they self-report a number below: **4**

In [6]:
def introverted_or_extroverted(score):
    if score > 7:
        classification = 'extroverted'
    elif score >3:
        classification = 'ambivert'
    else: 
        classification = 'introverted'
    return classification

introverted_or_extroverted(2)

'introverted'

In [7]:
introversion_extroversion_array = math211_survey.apply(introverted_or_extroverted,'Introversion/Extraversion')
introversion_extroversion_array

array(['ambivert', 'ambivert', 'ambivert', 'introverted', 'ambivert',
       'ambivert', 'ambivert', 'ambivert', 'extroverted', 'ambivert',
       'ambivert', 'extroverted', 'extroverted', 'extroverted',
       'introverted', 'ambivert', 'ambivert', 'ambivert', 'extroverted',
       'ambivert', 'ambivert', 'ambivert', 'ambivert', 'introverted',
       'ambivert', 'extroverted', 'extroverted', 'ambivert', 'ambivert',
       'ambivert', 'ambivert', 'extroverted', 'ambivert', 'introverted',
       'introverted', 'ambivert', 'ambivert', 'extroverted', 'ambivert',
       'ambivert', 'ambivert', 'ambivert', 'introverted', 'ambivert',
       'ambivert', 'ambivert', 'extroverted', 'ambivert', 'ambivert',
       'extroverted', 'ambivert', 'introverted', 'ambivert', 'ambivert',
       'introverted', 'ambivert', 'ambivert', 'ambivert', 'ambivert',
       'introverted', 'extroverted', 'ambivert', 'introverted',
       'introverted', 'introverted', 'introverted', 'introverted',
       'introverted', 'introverted', 'introverted', 'ambivert', 'ambivert',
       'ambivert', 'ambivert', 'ambivert', 'extroverted', 'ambivert',
       'ambivert', 'extroverted', 'ambivert', 'ambivert', 'ambivert',
       'ambivert', 'introverted', 'extroverted', 'ambivert', 'ambivert',
       'ambivert', 'extroverted', 'introverted', 'introverted', 'ambivert',
       'ambivert', 'ambivert', 'introverted', 'introverted', 'ambivert',
       'extroverted', 'introverted', 'ambivert', 'ambivert', 'introverted',
       'extroverted', 'ambivert', 'extroverted', 'ambivert', 'ambivert',
       'ambivert', 'ambivert', 'extroverted', 'ambivert', 'ambivert',
       'extroverted', 'introverted', 'extroverted', 'ambivert', 'ambivert',
       'extroverted', 'extroverted', 'ambivert', 'ambivert', 'extroverted',
       'ambivert', 'ambivert', 'ambivert', 'ambivert', 'ambivert',
       'ambivert', 'extroverted', 'ambivert', 'extroverted', 'ambivert',
       'introverted', 'extroverted', 'extroverted', 'introverted',
       'introverted', 'ambivert', 'ambivert', 'extroverted', 'ambivert',
       'ambivert', 'extroverted', 'extroverted', 'ambivert', 'ambivert',
       'introverted', 'ambivert', 'extroverted', 'extroverted',
       'extroverted', 'ambivert', 'ambivert', 'introverted', 'ambivert',
       'ambivert', 'ambivert'],
      dtype='<U11')

In [8]:
introversion_extroversion_array == 'extroverted'

array([False, False, False, False, False, False, False, False,  True,
       False, False,  True,  True,  True, False, False, False, False,
        True, False, False, False, False, False, False,  True,  True,
       False, False, False, False,  True, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False,  True, False, False,  True, False, False, False, False,
       False, False, False, False, False, False,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False, False,  True, False, False,
       False, False, False,  True, False, False, False,  True, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False,  True, False,  True, False, False, False,
       False,  True, False, False,  True, False,  True, False, False,
        True,  True, False, False,  True, False, False, False, False,
       False, False,  True, False,  True, False, False,  True,  True,
       False, False, False, False,  True, False, False,  True,  True,
       False, False, False, False,  True,  True,  True, False, False,
       False, False, False, False], dtype=bool)

In [9]:
np.count_nonzero(introversion_extroversion_array == 'extroverted')

35

## `for` loops

In [10]:
for pet in make_array('cat','dog','rabbit','ferret'):
    print_pet = pet.capitalize()
    print('I love my '+print_pet)

I love my Cat
I love my Dog
I love my Rabbit
I love my Ferret

In [11]:
for beer_num in np.arange(99,0,-1):
    print(beer_num,"bottles of beer on the wall,",beer_num,"bottles of beer!")
    print("take one down, pass it around!",beer_num-1,"bottles of beer on the wall!")

99 bottles of beer on the wall, 99 bottles of beer!
take one down, pass it around! 98 bottles of beer on the wall!
98 bottles of beer on the wall, 98 bottles of beer!
take one down, pass it around! 97 bottles of beer on the wall!
97 bottles of beer on the wall, 97 bottles of beer!
take one down, pass it around! 96 bottles of beer on the wall!
96 bottles of beer on the wall, 96 bottles of beer!
take one down, pass it around! 95 bottles of beer on the wall!
95 bottles of beer on the wall, 95 bottles of beer!
take one down, pass it around! 94 bottles of beer on the wall!
94 bottles of beer on the wall, 94 bottles of beer!
take one down, pass it around! 93 bottles of beer on the wall!
93 bottles of beer on the wall, 93 bottles of beer!
take one down, pass it around! 92 bottles of beer on the wall!
92 bottles of beer on the wall, 92 bottles of beer!
take one down, pass it around! 91 bottles of beer on the wall!
91 bottles of beer on the wall, 91 bottles of beer!
take one down, pass it around! 90 bottles of beer on the wall!
90 bottles of beer on the wall, 90 bottles of beer!
take one down, pass it around! 89 bottles of beer on the wall!
89 bottles of beer on the wall, 89 bottles of beer!
take one down, pass it around! 88 bottles of beer on the wall!
88 bottles of beer on the wall, 88 bottles of beer!
take one down, pass it around! 87 bottles of beer on the wall!
87 bottles of beer on the wall, 87 bottles of beer!
take one down, pass it around! 86 bottles of beer on the wall!
86 bottles of beer on the wall, 86 bottles of beer!
take one down, pass it around! 85 bottles of beer on the wall!
85 bottles of beer on the wall, 85 bottles of beer!
take one down, pass it around! 84 bottles of beer on the wall!
84 bottles of beer on the wall, 84 bottles of beer!
take one down, pass it around! 83 bottles of beer on the wall!
83 bottles of beer on the wall, 83 bottles of beer!
take one down, pass it around! 82 bottles of beer on the wall!
82 bottles of beer on the wall, 82 bottles of beer!
take one down, pass it around! 81 bottles of beer on the wall!
81 bottles of beer on the wall, 81 bottles of beer!
take one down, pass it around! 80 bottles of beer on the wall!
80 bottles of beer on the wall, 80 bottles of beer!
take one down, pass it around! 79 bottles of beer on the wall!
79 bottles of beer on the wall, 79 bottles of beer!
take one down, pass it around! 78 bottles of beer on the wall!
78 bottles of beer on the wall, 78 bottles of beer!
take one down, pass it around! 77 bottles of beer on the wall!
77 bottles of beer on the wall, 77 bottles of beer!
take one down, pass it around! 76 bottles of beer on the wall!
76 bottles of beer on the wall, 76 bottles of beer!
take one down, pass it around! 75 bottles of beer on the wall!
75 bottles of beer on the wall, 75 bottles of beer!
take one down, pass it around! 74 bottles of beer on the wall!
74 bottles of beer on the wall, 74 bottles of beer!
take one down, pass it around! 73 bottles of beer on the wall!
73 bottles of beer on the wall, 73 bottles of beer!
take one down, pass it around! 72 bottles of beer on the wall!
72 bottles of beer on the wall, 72 bottles of beer!
take one down, pass it around! 71 bottles of beer on the wall!
71 bottles of beer on the wall, 71 bottles of beer!
take one down, pass it around! 70 bottles of beer on the wall!
70 bottles of beer on the wall, 70 bottles of beer!
take one down, pass it around! 69 bottles of beer on the wall!
69 bottles of beer on the wall, 69 bottles of beer!
take one down, pass it around! 68 bottles of beer on the wall!
68 bottles of beer on the wall, 68 bottles of beer!
take one down, pass it around! 67 bottles of beer on the wall!
67 bottles of beer on the wall, 67 bottles of beer!
take one down, pass it around! 66 bottles of beer on the wall!
66 bottles of beer on the wall, 66 bottles of beer!
take one down, pass it around! 65 bottles of beer on the wall!
65 bottles of beer on the wall, 65 bottles of beer!
take one down, pass it around! 64 bottles of beer on the wall!
64 bottles of beer on the wall, 64 bottles of beer!
take one down, pass it around! 63 bottles of beer on the wall!
63 bottles of beer on the wall, 63 bottles of beer!
take one down, pass it around! 62 bottles of beer on the wall!
62 bottles of beer on the wall, 62 bottles of beer!
take one down, pass it around! 61 bottles of beer on the wall!
61 bottles of beer on the wall, 61 bottles of beer!
take one down, pass it around! 60 bottles of beer on the wall!
60 bottles of beer on the wall, 60 bottles of beer!
take one down, pass it around! 59 bottles of beer on the wall!
59 bottles of beer on the wall, 59 bottles of beer!
take one down, pass it around! 58 bottles of beer on the wall!
58 bottles of beer on the wall, 58 bottles of beer!
take one down, pass it around! 57 bottles of beer on the wall!
57 bottles of beer on the wall, 57 bottles of beer!
take one down, pass it around! 56 bottles of beer on the wall!
56 bottles of beer on the wall, 56 bottles of beer!
take one down, pass it around! 55 bottles of beer on the wall!
55 bottles of beer on the wall, 55 bottles of beer!
take one down, pass it around! 54 bottles of beer on the wall!
54 bottles of beer on the wall, 54 bottles of beer!
take one down, pass it around! 53 bottles of beer on the wall!
53 bottles of beer on the wall, 53 bottles of beer!
take one down, pass it around! 52 bottles of beer on the wall!
52 bottles of beer on the wall, 52 bottles of beer!
take one down, pass it around! 51 bottles of beer on the wall!
51 bottles of beer on the wall, 51 bottles of beer!
take one down, pass it around! 50 bottles of beer on the wall!
50 bottles of beer on the wall, 50 bottles of beer!
take one down, pass it around! 49 bottles of beer on the wall!
49 bottles of beer on the wall, 49 bottles of beer!
take one down, pass it around! 48 bottles of beer on the wall!
48 bottles of beer on the wall, 48 bottles of beer!
take one down, pass it around! 47 bottles of beer on the wall!
47 bottles of beer on the wall, 47 bottles of beer!
take one down, pass it around! 46 bottles of beer on the wall!
46 bottles of beer on the wall, 46 bottles of beer!
take one down, pass it around! 45 bottles of beer on the wall!
45 bottles of beer on the wall, 45 bottles of beer!
take one down, pass it around! 44 bottles of beer on the wall!
44 bottles of beer on the wall, 44 bottles of beer!
take one down, pass it around! 43 bottles of beer on the wall!
43 bottles of beer on the wall, 43 bottles of beer!
take one down, pass it around! 42 bottles of beer on the wall!
42 bottles of beer on the wall, 42 bottles of beer!
take one down, pass it around! 41 bottles of beer on the wall!
41 bottles of beer on the wall, 41 bottles of beer!
take one down, pass it around! 40 bottles of beer on the wall!
40 bottles of beer on the wall, 40 bottles of beer!
take one down, pass it around! 39 bottles of beer on the wall!
39 bottles of beer on the wall, 39 bottles of beer!
take one down, pass it around! 38 bottles of beer on the wall!
38 bottles of beer on the wall, 38 bottles of beer!
take one down, pass it around! 37 bottles of beer on the wall!
37 bottles of beer on the wall, 37 bottles of beer!
take one down, pass it around! 36 bottles of beer on the wall!
36 bottles of beer on the wall, 36 bottles of beer!
take one down, pass it around! 35 bottles of beer on the wall!
35 bottles of beer on the wall, 35 bottles of beer!
take one down, pass it around! 34 bottles of beer on the wall!
34 bottles of beer on the wall, 34 bottles of beer!
take one down, pass it around! 33 bottles of beer on the wall!
33 bottles of beer on the wall, 33 bottles of beer!
take one down, pass it around! 32 bottles of beer on the wall!
32 bottles of beer on the wall, 32 bottles of beer!
take one down, pass it around! 31 bottles of beer on the wall!
31 bottles of beer on the wall, 31 bottles of beer!
take one down, pass it around! 30 bottles of beer on the wall!
30 bottles of beer on the wall, 30 bottles of beer!
take one down, pass it around! 29 bottles of beer on the wall!
29 bottles of beer on the wall, 29 bottles of beer!
take one down, pass it around! 28 bottles of beer on the wall!
28 bottles of beer on the wall, 28 bottles of beer!
take one down, pass it around! 27 bottles of beer on the wall!
27 bottles of beer on the wall, 27 bottles of beer!
take one down, pass it around! 26 bottles of beer on the wall!
26 bottles of beer on the wall, 26 bottles of beer!
take one down, pass it around! 25 bottles of beer on the wall!
25 bottles of beer on the wall, 25 bottles of beer!
take one down, pass it around! 24 bottles of beer on the wall!
24 bottles of beer on the wall, 24 bottles of beer!
take one down, pass it around! 23 bottles of beer on the wall!
23 bottles of beer on the wall, 23 bottles of beer!
take one down, pass it around! 22 bottles of beer on the wall!
22 bottles of beer on the wall, 22 bottles of beer!
take one down, pass it around! 21 bottles of beer on the wall!
21 bottles of beer on the wall, 21 bottles of beer!
take one down, pass it around! 20 bottles of beer on the wall!
20 bottles of beer on the wall, 20 bottles of beer!
take one down, pass it around! 19 bottles of beer on the wall!
19 bottles of beer on the wall, 19 bottles of beer!
take one down, pass it around! 18 bottles of beer on the wall!
18 bottles of beer on the wall, 18 bottles of beer!
take one down, pass it around! 17 bottles of beer on the wall!
17 bottles of beer on the wall, 17 bottles of beer!
take one down, pass it around! 16 bottles of beer on the wall!
16 bottles of beer on the wall, 16 bottles of beer!
take one down, pass it around! 15 bottles of beer on the wall!
15 bottles of beer on the wall, 15 bottles of beer!
take one down, pass it around! 14 bottles of beer on the wall!
14 bottles of beer on the wall, 14 bottles of beer!
take one down, pass it around! 13 bottles of beer on the wall!
13 bottles of beer on the wall, 13 bottles of beer!
take one down, pass it around! 12 bottles of beer on the wall!
12 bottles of beer on the wall, 12 bottles of beer!
take one down, pass it around! 11 bottles of beer on the wall!
11 bottles of beer on the wall, 11 bottles of beer!
take one down, pass it around! 10 bottles of beer on the wall!
10 bottles of beer on the wall, 10 bottles of beer!
take one down, pass it around! 9 bottles of beer on the wall!
9 bottles of beer on the wall, 9 bottles of beer!
take one down, pass it around! 8 bottles of beer on the wall!
8 bottles of beer on the wall, 8 bottles of beer!
take one down, pass it around! 7 bottles of beer on the wall!
7 bottles of beer on the wall, 7 bottles of beer!
take one down, pass it around! 6 bottles of beer on the wall!
6 bottles of beer on the wall, 6 bottles of beer!
take one down, pass it around! 5 bottles of beer on the wall!
5 bottles of beer on the wall, 5 bottles of beer!
take one down, pass it around! 4 bottles of beer on the wall!
4 bottles of beer on the wall, 4 bottles of beer!
take one down, pass it around! 3 bottles of beer on the wall!
3 bottles of beer on the wall, 3 bottles of beer!
take one down, pass it around! 2 bottles of beer on the wall!
2 bottles of beer on the wall, 2 bottles of beer!
take one down, pass it around! 1 bottles of beer on the wall!
1 bottles of beer on the wall, 1 bottles of beer!
take one down, pass it around! 0 bottles of beer on the wall!

### For practice: using a `for`-loop to analyze our [STEM Center](https://skylinecollege.edu/stemcenter/) Webpage

In [12]:
STEM_Center_Webpage_string = 'The Skyline College STEM Center brings together academic and student support services for students taking science, technology, engineering and math courses.The center supports student success by ensuring students have access to resources such as academic tutoring, counseling services, a resource depository for STEM pathways and transfer, a hub for internships and work based learning opportunities, as well as a place where students and staff can collaborate and build a community and supportive connection. This STEM Center was brought to campus by a U.S. Department of Education, Title V, Developing Hispanic-Serving Institutions Program “Strengthening Pathways to Success in STEM” grant awarded in 2018.'
STEM_Center_Webpage_string

'The Skyline College STEM Center brings together academic and student support services for students taking science, technology, engineering and math courses.The center supports student success by ensuring students have access to resources such as academic tutoring, counseling services, a resource depository for STEM pathways and transfer, a hub for internships and work based learning opportunities, as well as a place where students and staff can collaborate and build a community and supportive connection. This STEM Center was brought to campus by a U.S. Department of Education, Title V, Developing Hispanic-Serving Institutions Program “Strengthening Pathways to Success in STEM” grant awarded in 2018.'

We'll use the `.split()` method to store each word into a list:

In [13]:
STEM_split = STEM_Center_Webpage_string.split()
STEM_split

['The',
 'Skyline',
 'College',
 'STEM',
 'Center',
 'brings',
 'together',
 'academic',
 'and',
 'student',
 'support',
 'services',
 'for',
 'students',
 'taking',
 'science,',
 'technology,',
 'engineering',
 'and',
 'math',
 'courses.The',
 'center',
 'supports',
 'student',
 'success',
 'by',
 'ensuring',
 'students',
 'have',
 'access',
 'to',
 'resources',
 'such',
 'as',
 'academic',
 'tutoring,',
 'counseling',
 'services,',
 'a',
 'resource',
 'depository',
 'for',
 'STEM',
 'pathways',
 'and',
 'transfer,',
 'a',
 'hub',
 'for',
 'internships',
 'and',
 'work',
 'based',
 'learning',
 'opportunities,',
 'as',
 'well',
 'as',
 'a',
 'place',
 'where',
 'students',
 'and',
 'staff',
 'can',
 'collaborate',
 'and',
 'build',
 'a',
 'community',
 'and',
 'supportive',
 'connection.',
 'This',
 'STEM',
 'Center',
 'was',
 'brought',
 'to',
 'campus',
 'by',
 'a',
 'U.S.',
 'Department',
 'of',
 'Education,',
 'Title',
 'V,',
 'Developing',
 'Hispanic-Serving',
 'Institutions',
 'Program',
 '“Strengthening',
 'Pathways',
 'to',
 'Success',
 'in',
 'STEM”',
 'grant',
 'awarded',
 'in',
 '2018.']

Now, we can use a for-loop to check the list to see how many times 'student' is mentioned on the webpage

In [14]:
#before we check the 'STEM_split' list, we have not found any words matching 'student' (not yet anyway)
student_count = 0 

#this for-loop will help us look through the list, word by word
for word in STEM_split:
    print('checking: ',word)
    
    if word == 'students':
        #once we find the student, we will increase our student_count variable by adding +1 to it's 
        #previous value
        
        print(word + 'Found!') #this confirms we matched 'student'
        
        print("old count:",student_count)
        #student_count = (student_count + 1) #this will update the count
        
        student_count += 1
        print("new count:",student_count)
        
student_count

checking:  The
checking:  Skyline
checking:  College
checking:  STEM
checking:  Center
checking:  brings
checking:  together
checking:  academic
checking:  and
checking:  student
checking:  support
checking:  services
checking:  for
checking:  students
studentsFound!
old count: 0
new count: 1
checking:  taking
checking:  science,
checking:  technology,
checking:  engineering
checking:  and
checking:  math
checking:  courses.The
checking:  center
checking:  supports
checking:  student
checking:  success
checking:  by
checking:  ensuring
checking:  students
studentsFound!
old count: 1
new count: 2
checking:  have
checking:  access
checking:  to
checking:  resources
checking:  such
checking:  as
checking:  academic
checking:  tutoring,
checking:  counseling
checking:  services,
checking:  a
checking:  resource
checking:  depository
checking:  for
checking:  STEM
checking:  pathways
checking:  and
checking:  transfer,
checking:  a
checking:  hub
checking:  for
checking:  internships
checking:  and
checking:  work
checking:  based
checking:  learning
checking:  opportunities,
checking:  as
checking:  well
checking:  as
checking:  a
checking:  place
checking:  where
checking:  students
studentsFound!
old count: 2
new count: 3
checking:  and
checking:  staff
checking:  can
checking:  collaborate
checking:  and
checking:  build
checking:  a
checking:  community
checking:  and
checking:  supportive
checking:  connection.
checking:  This
checking:  STEM
checking:  Center
checking:  was
checking:  brought
checking:  to
checking:  campus
checking:  by
checking:  a
checking:  U.S.
checking:  Department
checking:  of
checking:  Education,
checking:  Title
checking:  V,
checking:  Developing
checking:  Hispanic-Serving
checking:  Institutions
checking:  Program
checking:  “Strengthening
checking:  Pathways
checking:  to
checking:  Success
checking:  in
checking:  STEM”
checking:  grant
checking:  awarded
checking:  in
checking:  2018.

3

# Sampling Methods

## `np.random.choice`
<img src="random_choice.png" alt="drawing" width="1200"/>

*From the [Python reference](http://www.data8.org/sp20/python-reference.html) page

Consider the array of food we could get at the Sky Cafe here on campus:

In [15]:
cafe_lunch_options = make_array('Salad Bar','Chicken Tendies','Quesadilla','Burger','Just hella fries',
                                'Daily Special','Sandwich','Cup Noodle')
cafe_lunch_options

array(['Salad Bar', 'Chicken Tendies', 'Quesadilla', 'Burger',
       'Just hella fries', 'Daily Special', 'Sandwich', 'Cup Noodle'],
      dtype='<U16')

#### I forgot to bring my lunch from home today, what am I getting? Run the cell below:

In [16]:
np.random.choice(cafe_lunch_options)

'Cup Noodle'

#### Denise also forgot hers. She said, "I don't know, surprise me." What are we each getting?

In [17]:
np.random.choice(cafe_lunch_options,2)

array(['Quesadilla', 'Chicken Tendies'],
      dtype='<U16')

In [18]:
weekday= make_array('Monday','Tuesday','Wednesday','Thursday','Friday')
for day in weekday:
    im_eating = np.random.choice(cafe_lunch_options)
    print(day,im_eating)

Monday Sandwich
Tuesday Burger
Wednesday Quesadilla
Thursday Quesadilla
Friday Burger

## `tbl.sample`
<img src="table_sample.png" alt="drawing" width="1200"/>

*From the [Python reference](http://www.data8.org/sp20/python-reference.html) page

In [19]:
cafe_options_table = Table().with_columns('What I can eat',cafe_lunch_options)
cafe_options_table

What I can eat
Salad Bar
Chicken Tendies
Quesadilla
Burger
Just hella fries
Daily Special
Sandwich
Cup Noodle

In [20]:
cafe_options_table.sample(5).with_columns('Day of Week',weekday)

What I can eat | Day of Week
Daily Special  | Monday
Salad Bar      | Tuesday
Sandwich       | Wednesday
Quesadilla     | Thursday
Daily Special  | Friday

# Appending Arrays

In [21]:
weekday

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='<U9')

In [22]:
add_saturday = np.append(weekday,'Saturday')
add_saturday

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
      dtype='<U9')

In [23]:
weekend = make_array('Saturday','Sunday')

In [24]:
full_week = np.append(weekday,weekend)

In [25]:
full_week

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'],
      dtype='<U9')

# For the probability demo

The cell below is a function that I have defined to analyze an input list/array and prints out a statement that reports the element that repeats the most consecutively, and the length of that streak

In [26]:
def longest_consecutive(input_list):
    
    longest_repeat = None         #the element in the list that repeats the most, so far
    
    current_number = None          #the element that the program is 'currently checking,' always testing
                                   # to see if it exceeds the max
    
    repeated_times = 0             #the number of times the longest_repeat appears consecutively
    
    current_number_repeat = 0      #the number of times the current_number appears consecutively
    
    #this for-loop checks the elements in the list, in order, item by item.
    for i in input_list:
        
        if current_number != i:   #if item 'i' in the input_list is different than the current_number we are tracking
            current_number = i    # we are tracking a new element, therefore re-assign 'i' to 'current_number'
            current_number_repeat = 1  #we are re-starting the count so it starts off as 1.
        else:
            current_number_repeat += 1   #if item 'i' is the same as the current-number, then it is a succeeding term
                                         #in a consecutive sequence, therefore increase the count by one. 
        
        
        #if at any point the current_number reaches a higher number of consecutive terms, we have a new leader in 
        #consecutive terms in the list. Thus, we re-assign our 'current' variables to the variables that hold info
        #on the greatest value.
        
        if current_number_repeat > repeated_times:  
            longest_repeat = current_number
            repeated_times = current_number_repeat
            
    print('The longest streak was',longest_repeat,'which showed up',repeated_times,'times')
    #return longest_repeat , repeated_times

The cell below uses the `np.random.choice` method to randomly samples from the array containing the results of a coin flip, to simulate 100 coin flips (originally, however, feel free to tweak this value). We finally use the defined function above (i.e.`longest_consecutive`) to print out the result that resulted the most consecutive times.

In [31]:
#feel free to run this cell as many times as you would like. Take note on how large the streaks get based upon the 
#number of coin flips you are simulating. 

number_of_flips = 100
#originally 100

coin_flip_results = make_array('T','H')

hella_coin_flips = np.random.choice( coin_flip_results , number_of_flips )


print(hella_coin_flips)
longest_consecutive(hella_coin_flips)

['H' 'T' 'T' 'T' 'H' 'T' 'T' 'T' 'T' 'T' 'T' 'T' 'H' 'H' 'H' 'H' 'H' 'T'
 'H' 'H' 'T' 'H' 'H' 'H' 'H' 'T' 'T' 'T' 'T' 'T' 'T' 'T' 'T' 'T' 'T' 'T'
 'T' 'T' 'T' 'H' 'H' 'H' 'H' 'T' 'H' 'H' 'H' 'T' 'H' 'T' 'H' 'T' 'T' 'T'
 'T' 'T' 'T' 'T' 'H' 'H' 'T' 'H' 'T' 'H' 'H' 'T' 'H' 'T' 'H' 'H' 'T' 'H'
 'T' 'H' 'H' 'H' 'H' 'T' 'T' 'H' 'T' 'T' 'T' 'H' 'T' 'T' 'T' 'H' 'T' 'H'
 'H' 'T' 'T' 'H' 'H' 'T' 'T' 'H' 'H' 'T']
The longest streak was T which showed up 14 times

In [32]:
sum(hella_coin_flips == 'H')

44

In [33]:
sum(hella_coin_flips == 'T')

56

## The same steps above, but using `sample_proportions`

In [35]:
heads_or_tails = make_array(.50,.50)
sample_proportions(100,heads_or_tails)

array([ 0.5,  0.5])